html,
body,
#app {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import 'tailwindcss';

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s steps(2, start) infinite;
}

.pe-btn {
  @apply px-3 py-2 text-sm border border-dashed border-black bg-white cursor-pointer transition-all duration-200 text-left w-full hover:bg-black hover:text-white rounded-sm disabled:opacity-50 disabled:cursor-not-allowed;
}
